h1, p {
  font-family: 'Roboto' ;
}
h1 {

  font-size: 80px;
  margin-top:30px;
  margin-bottom: 10px;
    }

html, body {
  margin:0px;
  padding:0px;

}

body {
  background-color: #fdf8f2;

}

header {
  text-align: center;
  margin-bottom: 20px;
}

#corps {
  display: flex;
  height:200px;
  width:500px;
  justify-content: space-between;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #686868;
  margin-top: 100px;
  min-height:100px;
  max-height: 300px;
  width:100%;
  position:absolute;
  bottom:0;
}

.image {
    display: inline-block;
    text-align: center;
}
footer small {
    margin-right: 15px;
}

.image  img{
  -webkit-transition:-webkit-transform .9s; // Chrome Safari
  -moz-transition:-moz-transform .9s;       // Mozilla
  -o-transition:-o-transform .9s;           // Opéra
  -ms-transition:-ms-transform .9s;         // IE
  transition:transform .9s;
}

.image  img:hover{
  -webkit-transform:rotate(540deg);
  -moz-transform:rotate(540deg);
  -o-transform:rotate(540deg);
  -ms-transform:rotate(540deg);
  transform:rotate(540deg);
}
